@model CarSharing
@{
    ViewData["Title"] = "CreateCarRide";
}

<div class="card">
    <div class="card-header">
        Create car ride
    </div>
    <div class="card-body">
        <h5 class="card-title">Ride details</h5>

    @using (Html.BeginForm("CreateCarRide", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="@Model.StartLocation">Start Location</label>
                    <input asp-for="@Model.StartLocation" type="text" class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="@Model.EndLocation">End Location</label>
                    <input asp-for="@Model.EndLocation" type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="@Model.StartDate">Start Date</label>
                    <input asp-for="@Model.StartDate" type="date" asp-format="{0:d}" class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label asp-for="@Model.EndDate">End Date</label>
                    <input asp-for="@Model.EndDate" type="date" asp-format="{0:d}" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label asp-for="@Model.SelectedCar">Car</label>
                    <input asp-for="@Model.SelectedCar" type="text" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4 mb-3">
                    @*@Html.DropDownListFor(Model => Model.SelectedCar, Model.Cars, new { @class = "form-control" })*@
                    <select asp-for="@Model.SelectedCar" asp-items="@Model.Cars">SElect auto</select>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create wild ride!</button>
    }


    </div>
</div>
