@model PickPassengersViewModel
@{
    ViewData["Title"] = "PickPassengers";
}

<div class="card">
    <div class="card-header">
        Create travel plan
    </div>
    <div class="card-body">
        <h5 class="card-title">Select passangers</h5>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="@Model.SelectedEmployeesId">Select employees for the ride</label>
                <div class="form-inline">
                    <select class="form-control mb-2 col-md-4" asp-for="@Model.SelectedEmployeesId" id="employeeId" asp-items="@(new SelectList(Model.ListOfEmployees, "Id", "Name"))"></select>
                    <button type="button" id="addEmployee" class="btn btn-secondary mb-2 mx-2">Add employee to ride</button>
                </div>
            </div>
            <div class="col-md-4 mb-3">
            </div>
        </div>
    </div>
    <div class="form-group">
        <table class="table col-md-8" id="employeeOnRideTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Employee Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

        <button type="button" id ="createRide" class="btn btn-primary">Create ride</button>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var employeeList = []; 

        var startLocation = @Html.Raw(Json.Serialize(Model.StartLocation));
        var endLocation = @Html.Raw(Json.Serialize(Model.EndLocation));
        var startDate = @Html.Raw(Json.Serialize(Model.StartDate));
        var endDate = @Html.Raw(Json.Serialize(Model.EndDate));
        var selectedCarPlates = @Html.Raw(Json.Serialize(Model.SelectedCarPlates));

        var dataObject = {
            "StartLocation": startLocation,
            "EndLocation": endLocation,
            "StartDate": startDate,
            "EndDate": endDate,
            "EmployeeList": employeeList,
            "SelectedCarPlates": selectedCarPlates,
            "ListOfPassengersIds": employeeList
        };

        $(document).ready(function () {
            $("#addEmployee").click(function () {
                var employeeName = $("#employeeId :selected").text(); 
                var employeeId = $("#employeeId").val();

                var alreadyOnList = employeeList.find(function (element) {
                    return element === employeeId;
                });

                if (alreadyOnList) {
                    alert("Employee is already on list");
                }
                else {
                    $('#employeeOnRideTable').append('<tr><td>' + employeeId + '</td><td>' + employeeName + '</td><td><button class="btnDelete">Delete</td></tr>');

                    employeeList.push(employeeId);
                }

            });

            $("#employeeOnRideTable").on("click", ".btnDelete", function () {

                var employeeId = $(this).closest("tr").children()[0].innerText;

                for (var i = 0; i < employeeList.length; i++) {
                    if (employeeList[i] === employeeId) {
                        employeeList.splice(i, 1);
                    };
                };

                $(this).closest("tr").remove();
            });

            $("#createRide").click(function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "SaveRide",
                    data: JSON.stringify(dataObject),
                    error: function (response) {
                        console.log(response.statusText);
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.error != null) {
                            alert(response.error);
                        };
                    }
                });
            });
        });
    </script>
}